################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Odd or even/.vs/Odd or even
/Odd numbers in range/.vs/Odd numbers in range
/NegativeOrPositive/.vs/NegativeOrPositive
/FindTheLargestNumber/.vs/FindTheLargestNumber
/SwapTwoNumbers/.vs/SwapTwoNumbers
/SumOfAllTheMultiplesOf3And5/.vs/SumOfAllTheMultiplesOf3And5
/AllMultiplesOf17/.vs/AllMultiplesOf17
/SumDigitsOfNumber/.vs/SumDigitsOfNumber
/ReverseNumberIsPalindrom/.vs/ReverseNumberIsPalindrom
/SumOfToBinaryNumbers/.vs/SumOfToBinaryNumbers
/MultiplyBinaryNumbers/.vs/MultiplyBinaryNumbers
/VerySimpleCalculator/.vs/VerySimpleCalculator
/ExponentsCalculator/.vs/ExponentsCalculator
/PrintMultiplicationTable/.vs/PrintMultiplicationTable
/LowerToUpperAndUpperToLower/.vs/LowerToUpperAndUpperToLower
/DwarfGiantOrAverage/.vs/DwarfGiantOrAverage
/MinRange/.vs/MinRange
/MaxRange/.vs/MaxRange
/isAdult/.vs/isAdult
/BoxingOperations/.vs/BoxingOperations
/unboxingOperation/.vs/unboxingOperation
/FibonacciSeriesGenerator/.vs/FibonacciSeriesGenerator
/FactorialOfNumber/.vs/FactorialOfNumber
/IsPrime/.vs/IsPrime
/LargestPrimeFactor/.vs/LargestPrimeFactor
/PerfectNumber/.vs/PerfectNumber
/ArmstrongNumberChecker/.vs/ArmstrongNumberChecker
/PrintArmstrongNumbers/.vs/PrintArmstrongNumbers
/SumOfNNumbers/.vs/SumOfNNumbers
/SumOfNaturalNumbers/.vs/SumOfNaturalNumbers
/FactorsOfGivenNumber/.vs/FactorsOfGivenNumber
/AbsoluteValue/.vs/AbsoluteValue
/RadomNumber/.vs/RadomNumber
/AmicableNnumbersChecker/.vs/AmicableNnumbersChecker
/SquareRoot/.vs/SquareRoot
/CubeRoot/.vs/CubeRoot
/SumOfTwoComplexNumbers/.vs/SumOfTwoComplexNumbers
/fractionalPowers/.vs/fractionalPowers
/PowerOf/.vs/PowerOf
/ReverseNumber/.vs/ReverseNumber
/RandomRegisterNumber/.vs/RandomRegisterNumber
/GetLocalTime/.vs/GetLocalTime
/GetUniversalTime/.vs/GetUniversalTime
/DateInVariousFormats/.vs/DateInVariousFormats
/AddDays/.vs/AddDays
/LoopYear/.vs/LoopYear
/DaysToYearsConverter/.vs/DaysToYearsConverter
/DayLigthSavingInformation/.vs/DayLigthSavingInformation
